@-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: Arial, sans-serif;
    background-color: #FFFDDF;
    color: #1a1a1a;
    line-height: 1.5;
    padding: 1rem;
    max-width: 390px;
    margin: 0 auto;
    border-radius: 12px;
}

.cartaz{
    width: 100%;
    height: auto;
    animation: fade-in 1s ease-out;
    animation: scale-up-center 2s cubic-bezier(.39,.575,.565,1.000) both;
    border-radius: 12px;
}

nav a{
    display: block;
    font-size: 1.5rem; 
    padding: 0.75rem 1rem;
    margin: 1rem 0;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    background-color: #0055aa;
    color: white;

}


.lista-temas{
    display: flex;
    overflow-x: auto;
    background: linear-gradient(90deg, #FF3D71, #FF6B6B);
    gap: 1rem;
    padding: 1rem;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}



.tema {
    min-width: 200px;
    background-color: #52b69a;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    scroll-snap-align: start;
    font-size: 1.5rem;
    flex-shrink: 0;
  }



#textoCen{
    
}

#temas{
    font-size: 1.125rem; 
    line-height: 1.5;
    color: #222;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    
}
.cartaz{-webkit-animation:scale-up-center 2s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-center 2s cubic-bezier(.39,.575,.565,1.000) both}